---
alwaysApply: true
---

## 메인 규칙

- 기능 및 컴포넌트 생성시 항상 expo 문서를 참조 해서 만들 것 https://docs.expo.dev/

## 스타일링 규칙

- UI 컴포넌트 생성시 항상 react-native-reusable 문서를 참고해서 이미 있으면 그걸 추가해서 사용하고 없으면 만들 것 https://reactnativereusables.com/docs
- 인라인 스타일링 지향하고 스타일링 문법 질문시 uniwind 문서를 참고 할 것 https://docs.uniwind.dev/
- 커스텀 animation 기능 생성시 react-native-reanimated 문서를 참조해서 만들 것 https://docs.swmansion.com/react-native-reanimated/docs/fundamentals/getting-started
